ENV=local
PROJECT_ID=demo-orderec
FIRESTORE_EMULATOR_HOST=host.docker.internal:8085
ORGANIZATION_UUID=35095fe0-1efc-40ff-bd13-9720c6d09e0f
MEMBERS_DATA_LAYOUT=organization
MEMBERS_SERVICE_KEY=local-members-service-key
LINE_LOGIN_CHANNEL_ID=
WOLT_TOKEN=
WOLT_DEFAULT_VENUE_ID=
SQUARE_COOKIE=
SQUARE_CSRF_TOKEN=
SQUARE_DISCOUNT_TOKEN=
SQUARE_PRODUCT_SET_TOKEN=
ADMIN_TOKEN=
